.main-pop-up {
  width: auto;
  height: auto;
}

.title-div {
  display: flex;
  align-items: center;
  padding: 22px 0 0 20px;
  height: 7vh;
}

.title {
  color: #525252;
  padding-left: 7px;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: bold;
}

.card-form {
  color: #525252;
  padding-left: 29px;
  font-family: "Poppins", sans-serif;
  height: 45vh;
  background-color: #ffffff;
}

.input-wrapper {
  color: #525252;
  width: 410px;
  text-align: start;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

label {
  font-family: "Poppins", sans-serif;
  color: #525252;
  font-weight: bold;
}

.first-label {
  margin-top: 16px;
}

input,
select {
  border: 1px solid #ced4da;
  border-radius: 8px;
  color: #818181;
  font-size: 16px;
  padding: 12px 12px 12px 12px;
  width: 500px;
  font-family: "Poppins", sans-serif;
  outline: none;
}

.buttons {
  width: 500px;
  display: flex;
  gap: 35px;
  align-items: center;
}

.bar {
  width: 1px;
  height: 52px;
  background-color: #1b263b;
}

.btn-choice {
  display: none;
}

.buttons-card {
  border-radius: 5px;
  width: 106px;
  height: 52px;
  background-color: #e0e1dd;
  color: #1b263b;
  text-align: center;
  line-height: 52px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn-choice:checked + .buttons-card {
  background-color: #1b263b;
  color: white;
}

.buttons-create {
  border: #1b263b;
  border-radius: 7px;
  font-weight: 400;
  font-size: 18px;
  width: 158px;
  height: 52px;
  background-color: #1b263b;
  color: #f0f3fa;
  cursor: pointer;
}

.buttons-close {
  border: 1px solid #1b263b;
  border-radius: 7px;
  font-weight: 400;
  font-size: 18px;
  width: 158px;
  height: 52px;
  background-color: #ffffff;
  color: #1b263b;
  cursor: pointer;
}

.buttons-card2:first-of-type {
  background-color: #ffffff;
  color: #1b263b;
}

.close {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 33px;
  height: 15vh;
}
