<div class="main">
  <div class="title-div">
    <p class="title">Nova Transferência</p>
  </div>
  <form [formGroup]="transferForm">
    <div class="card-form">
      <div class="input-wrapper">
        <label for="cpf">CPF do Destinatário:</label>
        <input mask="000.000.000-00" type="text" placeholder="Digite o CPF" id="cpf" formControlName="cpf">
        <div class="error-messages"
          *ngIf="transferForm.get('cpf')?.invalid && (transferForm.get('cpf')?.touched || transferForm.get('cpf')?.dirty)">
          <small *ngIf="transferForm.get('cpf')?.errors?.['required']">CPF é obrigatório.</small>
        </div>

        <label for="card-value">Valor para a Transferência:</label>
        <input (input)="formatCurrency()" type="text" placeholder="R$" id="card-value" formControlName="transferValue">
        <div class="error-messages" *ngIf=" transferForm.get('transferValue')?.invalid && (transferForm.get('transferValue')?.touched ||
          transferForm.get('transferValue')?.dirty)">
          <small *ngIf="transferForm.get('transferValue')?.errors?.['required']">Valor obrigatorio.</small>
        </div>


        <label for="description">Descrição da Transferência:</label>
        <input type="text" placeholder="Descrição(Opcional)" id="description" formControlName="description">

        <label for="purchase-type">Tipo da Transferência:</label>
        <div class="buttons">
          <input class="btn-choice" type="radio" id="button-sim" formControlName="transferenceType" value="PIX" checked>
          <label for="button-sim" class="buttons-card">PIX</label>
          <input class="btn-choice" type="radio" id="button-nao" formControlName="transferenceType" value="TED">
          <label for="button-nao" class="buttons-card">TED</label>
          <input class="btn-choice" type="radio" id="button-doc" formControlName="transferenceType" value="DOC">
          <label for="button-doc" class="buttons-card">DOC</label>
        </div>
      </div>
    </div>
    <div class="close">
      <button type="button" class="buttons-close" (click)="onClose()">Fechar</button>
      <button type="button" class="buttons-create" (click)="onCreate()">Criar</button>
    </div>
  </form>