<div class="main">
  <div class="title-div">
    <p class="title">Nova Transferência</p>
  </div>
  <form>
    <div class="card-form">
      <div class="input-wrapper">
        <label class="first-label" for="options">Escolha a chave:</label>
        <select id="options" name="options" [(ngModel)]="selectedOption" (change)="onOptionChange()">
          <option value="opcao1">Ler qr code</option>
          <option value="opcao2">Pix Copia e Cola</option>
          <option value="opcao3">Celular</option>
          <option value="opcao4">CPF</option>
        </select>

        <div *ngIf="selectedOption === 'opcao4'">
          <label for="cpf">CPF:</label>
          <input type="text" placeholder="Digite o CPF" id="cpf" name="cpf" [(ngModel)]="cpf">
        </div>

        <label for="card-value">Valor para a Transferência:</label>
        <input type="text" placeholder="R$ 120.00" id="card-value" name="cardValue" [(ngModel)]="transferValue">

        <label for="description">Descrição da Transferência:</label>
        <input type="text" placeholder="Descrição" id="description" name="description" [(ngModel)]="description">

        <label for="purchase-type">Tipo da Transferência:</label>
        <div class="buttons">
          <input type="radio" id="button-sim" name="purchaseType" class="btn-choice" [(ngModel)]="transferType"
            value="PIX" checked>
          <label for="button-sim" class="buttons-card">PIX</label>
          <input type="radio" id="button-nao" name="purchaseType" class="btn-choice" [(ngModel)]="transferType"
            value="TED">
          <label for="button-nao" class="buttons-card">TED</label>
          <input type="radio" id="button-doc" name="purchaseType" class="btn-choice" [(ngModel)]="transferType"
            value="DOC">
          <label for="button-doc" class="buttons-card">DOC</label>
          <input type="radio" id="button-other" name="purchaseType" class="btn-choice" [(ngModel)]="transferType"
            value="OUTRO">
          <label for="button-other" class="buttons-card">OUTRO</label>
        </div>
      </div>
    </div>
    <div class="close">
      <button type="button" class="buttons-close" (click)="onClose()">Fechar</button>
      <button type="button" class="buttons-create" (click)="onCreate()">Criar</button>
    </div>
  </form>
</div>