<div class="container-main">
  <div class="form">
    <form action="">
      <label for="telefone">Telefone:</label>
      <input class="form-input" id="telefone" type="tel" name="telefone" placeholder="(85) 6969696969" required>
      <label for="email">Email:</label>
      <input class="form-input" id="email" type="email" name="email" placeholder="Email" required>
      <label for="password">Password:</label>
      <input class="form-input" id="password" type="password" name="senha" placeholder="*****" required>
      <label for="confirm-password">confirm-password:</label>
      <input class="form-input" id="confirm-password" type="email" name="confirm-password" placeholder="*****" required>
    </form>
  </div>
  <div class="btn"><button type="button">Confirmar</button></div>
</div>