<div class="main">
    <div class="left-side">
        <div class="image-div">
            <img class="image" src="../../../assets/logo_mybank.svg" alt="">
        </div>
        <form>
            <div class="form-register">
                <div class="input-wrapper">
                    <label for="name">Nome:</label>
                    <div class="input-content">
                        <input type="text" placeholder="Junin Silva">
                    </div>
                    <label for="email">Email:</label>
                    <div class="input-content">
                        <input type="email" placeholder="alex@email.com">
                    </div>
                    <label for="telefone">Telefone:</label>
                    <div class="input-content">
                        <input type="tel" placeholder="(85)912345678">
                    </div>
                    <label for="name">Senha:</label>
                    <div class="input-content">
                        <input type="password" placeholder="Digite sua senha">
                    </div>
                    <label for="name">Confirme sua senha:</label>
                    <div class="input-content">
                        <input type="password" placeholder="Confirme sua senha">
                    </div>
                    <label for="name">CPF:</label>
                    <div class="input-content">
                        <input type="number" placeholder="01234567899">
                    </div>
                </div>
            </div>
            <div class="button-submit">
                <button type="button" id="button-primary">Cadastrar</button>
            </div>
            <div class="span">
                <span>OR</span>
            </div>
            <div class="button-submit">
                <button type="button" id="button-secondary">Login</button>
            </div>
        </form>
    </div>
    <div class="right-side">

    </div>
</div>