body {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}

.main {
  display: flex;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0.2;
  height: 100vh;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1.8;
}

.login-form {
  padding-top: 100px;
  background-color: #ffffff;
}

.login-form form a {
  display: flex;
  justify-content: flex-end;
}

.login-form input {
  border: none;
  border-radius: 8px;
  background-color: #f1f3f6;
  color: #555555;
  font-size: 16px;
  padding: 12px 12px 12px 12px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  outline: none;
}

.email,
.password {
  padding-bottom: 20px;
  display: flex;
}

.logo {
  margin-top: 130px;
}

.buttomLogin {
  border: none;
  background-color: #1b263b;
  width: 410px;
  color: #ffffff;
  border-radius: 8px;
  height: 45px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
.buttomSignup {
  border: 1px solid #1b263b;
  color: #1b263b;
  width: 410px;
  height: 45px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  cursor: pointer;
  background: transparent;
}

.loginAndSignup {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
  color: #c2c2c2;
}

.link {
  padding-bottom: 20px;
  font-family: "Poppins", sans-serif;

  display: flex;
  justify-content: flex-end;
}

.input-wrapper {
  width: 410px;
  text-align: start;
  gap: 20px;
}

label {
  font-family: "Poppins", sans-serif;
  color: #555555;
}
