<nav>
  <button
    class="burger"
    (click)="toggleMenu()"
    (keydown)="onKeyDown($event)">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </button>
  <div class="nav-links" [class.show]="isMenuOpen">
    <button class="close-button" (click)="toggleMenu()">✖</button>
    <button type="button" [routerLink]="['/account']" (click)="closeMenu()">Conta</button>
    <button type="button" [routerLink]="['/invoice']" (click)="closeMenu()">Fatura</button>
    <button type="button" [routerLink]="['/card']" (click)="closeMenu()">Cartões</button>
    <button type="button" [routerLink]="['/transfer']" (click)="closeMenu()">Transferência</button>
    <button type="button" [routerLink]="['/user-config']" (click)="closeMenu()">Configurações</button>
  </div>
</nav>
