nav {
  background-color: #495057;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  border-bottom: solid 2px #1b263b;
  border-top: #e0e1dd solid 1px;
  padding: 0 15px;
}

.close-button {
  display: none;
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #e0e1dd;
  margin: 4px 0;
}

button {
  padding: 13px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #e0e1dd;
  border-radius: 10px;
}

button:hover {
  transition: 0.5s;
  background-color: #6c757d;
  color: #1b263b;
}

@media (max-width: 1024px) {
  nav {
    gap: 40px;
    padding: 0 10px;
  }
}

@media (max-width: 768px) {
  nav {
    gap: 20px;
    padding: 0 5px;
  }
  button {
    font-size: 14px;
  }
}

@media (max-width: 560px) {
  nav {
    flex-direction: column;
    height: auto;
    gap: 10px;
    padding: 10px;
  }
  button {
    width: 100%;
    text-align: center;
    font-size: 13px;
  }
  .burger {
    display: flex;
  }
  .close-button {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 57px;
    background-color: #495057;
    width: 100%;
    z-index: 1;
  }

  .nav-links.show {
    display: flex;
    margin-top: 100px;
  }
}

@media (max-width: 400px) {
  nav {
    width: 100%;
    padding: 5px;
  }
  button {
    padding: 10px;
    font-size: 12px;
  }


}
