.container-main {
  margin-top: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-input {
  outline: none;
  border: none;
  width: 880px;
  height: 48px;
  font-size: 16px;
  background-color: #f1f3f6;
  border-radius: 8px;
  padding: 12px 12px 12px 12px;
  font-family: "Poppins", sans-serif;
  color: #555555;
}

label {
  margin-top: 10px;
  font-weight: bold;
  color: #525252;
}

.form form {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", san-serifs;
  font-size: 18px;
}

.btn button {
  margin-top: 83px;
  width: 410px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #1b263b;
  color: #ffffff;
  font-size: 20px;
  font-family: "Poppins", san-serifs;
  border-radius: 8px;
}

.data {
  display: flex;
  justify-content: center;
  gap: 40px;
  font-family: "Poppins", sans-serif;
  color: #555555;
  font-size: 20px;
  padding-top: 20px;
}
