.container-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  max-width: 880px;
  width: 100%;
  height: 542px;
  margin-left: auto;
  margin-right: auto;
}

.form {
  width: 100%;
  max-width: 880px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input {
  outline: none;
  border: none;
  width: 100%;
  max-width: 880px;
  height: 48px;
  font-size: 16px;
  background-color: #f1f3f6;
  border-radius: 8px;
  padding: 12px;
  font-family: "Poppins", sans-serif;
  color: #555555;
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  color: #525252;
  margin-bottom: 5px;
  display: block;
  width: 100%;
  max-width: 880px;
}

.btn {
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn button {
  margin-top: 30px;
  padding: 12px 20px;
  width: 100%;
  max-width: 300px;
  font-size: 18px;
  cursor: pointer;
  background-color: #495057;
  color: white;
  border-radius: 8px;
  border: none;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

.btn button:hover {
  background-color: #495057be;
  transform: scale(1.05);
}

.data {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  color: #555555;
  font-size: 18px;
  padding-bottom: 20px;
  width: 100%;
  max-width: 880px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
  align-items: center;
}

.data label {
  font-size: 18px;
  font-weight: 500;
}
