<div class="container-main">
  <div class="form">
    <form action="" [formGroup]="form">
      <label for="telefone">Telefone:</label>
      <input class="form-input" id="telefone" type="tel" name="telefone" placeholder="(85) 6969696969"
        formControlName="phone" required>
      <label for="email">Email:</label>
      <input class="form-input" id="email" type="email" name="email" placeholder="dods@mybank.com"
        formControlName="email" required>
      <label for="password">Password:</label>
      <input class="form-input" id="password" type="password" name="senha" formControlName="password"
        placeholder="********" required>
      <label for="confirm-password">Password Confirm:</label>
      <input class="form-input" id="confirm-password" type="password" name="confirm-password"
        formControlName="confirmPassword" placeholder="********" required>
    </form>
  </div>
  <div class="btn"><button type="button" (click)="updateUser()">Confirmar</button></div>
</div>