<body>

  <div class="main">

    <div class="login">
      <div class="logo">
        <img src="../../../assets/logo_mybank.svg" alt="">
      </div>
      <form action="">
        <div class="login-form">
          <div class="input-wrapper">
            <label for="email">Email Address:</label>
            <div class="email">
              <input type="text" id="email" name="email" required placeholder="alex@email.com">
              <img src="../../../assets/email-icon.svg" alt="">
            </div>
            <label for="password">Password:</label>
            <div class="password">
              <input type="password" id="password" name="password" required placeholder="Enter your password">
              <img src="../../../assets/password-icon.svg" alt="">
            </div>
            <div class="link">
              <a href="">Forgot Password?</a>
            </div>
          </div>
        </div>
      </form>
      <div class="loginAndSignup">
        <button [routerLink]="['/home']" class="buttomLogin" type="button">Login</button>
        <p>OR</p>
        <button [routerLink]="['/register']" class="buttomSignup" type="button">Signup</button>
      </div>
    </div>

    <div class="img">
      <img src="../../../assets/backGournd.svg" alt="">

    </div>

  </div>
</body>