.main-home {
  background-color: #e4e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 75vh;
  overflow: hidden;
  padding: 20px;
}

/* Responsividade */
@media (max-width: 1024px) {
  .main-home {
    height: 120vh;
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .main-home {
    height: 120vh;
    flex-direction: column; /* Muda para coluna para facilitar a organização em telas menores */
  }
}

@media (max-width: 490px) {
  .main-home {
    height: auto; /* Adapta à altura do conteúdo */
    padding: 5px;
  }
}

@media (max-width: 400px) {
  .main-home {
    height: auto;
    padding: 0;
    align-items: flex-start; /* Alinha ao topo para melhorar a visualização em telas muito pequenas */
  }
}
