<div class="main">
  <div class="card">
    <div class="card-contain">
      <p>HISTÓRICO DE TRANSFERÊNCIA:</p>
    </div>
    <div class="card-info">
      <div class="card-hist">
        <ul class="list-items">
          <li>
            <p>Quixads Interprise: <span class="receiving">R$ 20000,00</span></p>
          </li>
          <li>
            <p>É o Dods: <span class="payment">R$ 10,00</span></p>
          </li>
          <li>
            <p>RiotGamesBrazil: <span class="payment"> R$5000,00</span></p>
          </li>
          <li>
            <p>SAMSUNG-STOREBRAZIL: <span class="payment"> R$ 1000,00</span></p>
          </li>
          <li>
            <p> Steam:<span class="payment"> R$ 49,99</span></p>
          </li>
        </ul>
      </div>
      <div class="btn">
        <button type="button">Nova Transferência</button>
      </div>
    </div>
  </div>
</div>