.main {
  display: flex;
  max-width: 1200px;
  margin: auto;
  height: 55vh;
  padding: 20px;
  justify-content: center;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
}

.left-side {
  flex: 1;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  background: #f8f8f8;
}

.right-side {
  flex: 1;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  background: #f8f8f8;
  font-family: "Poppins", sans-serif;
}

.card {
  border-radius: 8px;
  background: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card-contain {
  margin-bottom: 20px;
}

.historic-title {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.card-hist {
  margin-bottom: 20px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.card-hist::-webkit-scrollbar {
  width: 8px;
}

.card-hist::-webkit-scrollbar-thumb {
  background-color: #495057;
  border-radius: 10px;
}

.card-hist::-webkit-scrollbar-thumb:hover {
  background-color: #6c757d;
}

.card-hist::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.list-items {
  list-style: none;
  padding: 0;
}

.list-items li {
  margin: 5px 0;
}

.receiving {
  font-weight: bold;
  color: #4caf50;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.balance-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #495057;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.balance-button:hover {
  background-color: #6c757d;
}

.title {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.text {
  color: #333;
  font-size: 17px;
}

.li-transfers {
  display: flex;
  flex-direction: column;
}
