<div class="main">
  <div class="cards-container">
    <ng-container *ngFor="let card of cards">
      <div class="card" *ngIf="card.isActive">
        <div class="card-details-left">
          <p class="card-name">{{ card.cardName }}</p>
          <p class="card-number">
            {{ card.cardNumber.slice(0, 4) }} •••• ••••
            {{ card.cardNumber.slice(-4) }}
          </p>
          <p class="card-limit">
            Limite: R$ {{ card.cardValue | number : "1.2-2" }}
          </p>
          <p class="card-due">Fatura vence dia 14</p>
        </div>
        <div class="card-details-right">
          <p class="card-brand">Visa</p>
          <p class="card-cvv">{{ card.cvv.slice(2, 2) }} •
            {{ card.cvv.slice(1) }}
          </p>
          <button class="btndelete" (click)="disableCard(card.id)">
            Deletar cartão
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<div class="card-add">
  <button class="plus-button" type="button" (click)="openDialog()">
    +
  </button>
</div>
