<div class="main">
  <p>{{userName}}</p>
  <div class="cards-container">
    <div class="cards" *ngFor="let card of cards">
      <div class="card-details-left">
        <p>{{ card.cardName }}</p>
        <p>{{ card.cardNumber.slice(0, 4) }} •••• •••• {{ card.cardNumber.slice(-4) }}</p>
        <p>Limite: R$ {{ card.cardValue | number:'1.2-2' }}</p>
        <p> Fatura vence dia 14</p>

      </div>
      <div class="card-details-right">
        <p>Visa</p>
        <button class="btndelete" (click)="deleteCard(card.id)">Deletar cartao</button>
      </div>
    </div>
  </div>

  <div class="cards-add">
    <div class="card-add">
      <button class="plus-button" type="button" (click)="openDialog()">+</button>
    </div>
  </div>
</div>