.main {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  height: 443px;
  padding: 20px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(320px, 1fr)
  ); /* Cards com largura mínima de 320px */
  gap: 20px;
  justify-items: center;
  margin-bottom: 20px;
  max-height: 400px;
  overflow-y: auto;
  padding-right: 10px;
}

.cards-container::-webkit-scrollbar {
  width: 8px;
}

.cards-container::-webkit-scrollbar-thumb {
  background-color: #495057;
  border-radius: 10px;
}

.cards-container::-webkit-scrollbar-thumb:hover {
  background-color: #6c757d;
}

.cards-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.card {
  display: flex;
  padding: 20px;
  width: 100%;
  max-width: 320px;
  min-width: 320px;
  height: 180px;
  border-radius: 15px;
  background-color: #212529;
  color: #f8f8f8;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.card-details-left {
  flex-grow: 1;
}

.card-details-right {
  display: flex;
  align-items: end;
  flex-direction: column;
}

.card-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-number,
.card-limit,
.card-due {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.card-brand {
  font-size: 1rem;
}

.btndelete {
  position: absolute;
  bottom: 15px;
  right: 15px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: #dc3545;
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.btndelete:hover {
  background-color: #c82333;
  transform: scale(1.05);
}

.card-add {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  align-items: center;
}

.plus-button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #495057;
  color: white;
  font-size: 36px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

.plus-button:hover {
  background-color: #495057be;
}


@media (max-width: 1024px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    padding-right: 0;
  }

  .card {
    max-width: 90%;
  }
}

@media (max-width: 950px) {
  .cards-container {
    grid-template-columns: 1fr;
  }

  .card {
    min-width: 320px;
    max-width: 320px;
  }

  .plus-button {
    width: 60px;
    height: 60px;
    font-size: 28px;
  }

  .card-add {
    min-height: 15vh;
  }

  @media (max-width: 350px) {
    .cards-container {
      grid-template-columns: 1fr;
    }

    .card-number,
    .card-limit,
    .card-due {
      font-size: 10px;
      margin-bottom: 5px;
    }

    .card {
      min-width: 250px;
      max-width: 250px;
    }

    .plus-button {
      width: 60px;
      height: 60px;
      font-size: 28px;
    }

    .card-add {
      min-height: 20vh;
    }
  }
}
