<div class="main-pop-up">
    <div class="title-div">
      <p class="title">Confirmar Pagamento</p>
    </div>
    <div class="content">
        <div class="invoice-value">
            <label class="title-text">Valor:</label>
            <p class="value">R$ 10710,00</p>
        </div>
        <div class="details">
            <label class="title-text">Nome:</label>
            <p class="text-name">Dods</p>
        </div>
        <div class="details">
            <label class="title-text">Data do Pagamento:</label>
            <p class="text-name">10/10/2024</p>
        </div>
    </div>
    <div class="close">
        <button type="button" class="buttons-close" (click)="onClose()">Fechar</button>
        <button type="button" class="buttons-confirm">Confirmar</button>
    </div>
</div>
