:root {
  --primary-color: #1b263b;
  --text-color: #555555;
  --gray-bg: #eeeeee;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.main {
  display: flex;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0.2;
  height: 100vh;
  background-color: #ffffff;
}

.image-div {
  margin-top: 50px;
}

.right-side {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1.5;
  background-color: #eeeeee;
}

.form-register {
  background-color: #ffffff;
}
/*.main-form {
  width: 90%;
}*/

label {
  font-family: "Poppins", sans-serif;
  color: #555555;
}

input {
  border-radius: 8px;
  background-color: #f1f3f6;
  color: #555555;
  font-size: 16px;
  padding: 12px 12px 12px 12px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
}

.span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  color: #c2c2c2;
  padding-bottom: 12px;
}

.input-wrapper {
  width: 410px;
  text-align: start;
  gap: 20px;
}

.input-content {
  display: flex;
  padding-bottom: 20px;
}

button {
  width: 100%;
  border-radius: 8px;
  font-size: 16px;
  border: none;
  font-weight: 500;
  background: transparent;
  padding: 12px;
}

#button-primary {
  background-color: #1b263b;
  color: white;
  box-shadow: 0px 8px 12px
    rgba(
      65.0000037252903,
      90.00000223517418,
      119.00000050663948,
      0.20000000298023224
    );
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

#button-secondary {
  border: 1px solid #1b263b;
  color: #1b263b;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.button-submit {
  padding-top: 20px;
}
