.main {
  display: flex;
  max-width: 1200px;
  margin: auto;
  height: 55vh;
  padding: 20px;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
}

.left-side {
  flex: 1;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  background: #f8f8f8;
}

.right-side {
  flex: 1;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  padding-top: 30px;
  background: #f8f8f8;
}

.invoice-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #f8f8f8;
  border-radius: 8px;
  padding-top: 15px;
}

.title-invoice,
.title-historic {
  margin-bottom: 20px;
}

.invoice-text,
.historic-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.invoice-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.invoice-money-status {
  font-size: 2rem;
  font-weight: bold;
  color: #4caf50;
}

.maturity {
  font-weight: bold;
  color: #8b8b8b;
  font-size: 0.9rem;
}

.historic-div {
  margin-top: 20px;
  max-height: 200px;
  overflow-y: auto;
}

.historic-list {
  list-style: none;
  padding: 0;
}

.historic-list li {
  margin: 5px 0;
}

.value-h {
  font-weight: bold;
  color: #212529;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30vh;
  align-items: center;
  gap: 20px;
}

.balance-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #495057;
  color: white;
  font-size: 16px;
  width: 200px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.balance-button:hover {
  background-color: #6c757d;
}
