.main {
  display: flex;
  max-width: 1200px;
  margin: auto;
  height: auto;
  padding: 20px;
  justify-content: center;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
}

.left-side,
.right-side {
  flex: 1;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  height: 50vh;
  background: #f8f8f8;
}

.invoice-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #f8f8f8;
  border-radius: 8px;
  padding-top: 15px;
}

.title-invoice,
.title-historic {
  margin-bottom: 20px;
}

.invoice-text,
.historic-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.invoice-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.invoice-money-status {
  font-size: 2rem;
  font-weight: bold;
  color: #4caf50;
}

.maturity {
  font-weight: bold;
  color: #8b8b8b;
  font-size: 0.9rem;
}

.historic-div {
  margin-top: 20px;
  max-height: 200px;
  overflow-y: auto;
}

.historic-list {
  display: flex;
  flex-direction: column-reverse;
  list-style: none;
  padding: 0;
}

.historic-list li {
  margin: 5px 0;
}

.value-h {
  font-weight: bold;
  color: #212529;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.balance-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #495057;
  color: white;
  font-size: 16px;
  width: 200px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.balance-button:hover {
  background-color: #6c757d;
}

@media (max-width: 1024px) {
  .main {
    flex-direction: column;
    height: auto;
    padding: 15px;
  }

  .left-side,
  .right-side {
    margin: 5px 0;
  }
}

@media (max-width: 768px) {
  .invoice-text,
  .historic-text {
    font-size: 1.3rem;
  }

  .invoice-money-status {
    font-size: 1.8rem;
  }

  .balance-button {
    font-size: 14px;
    width: 180px;
  }
}

@media (max-width: 480px) {
  .main {
    padding: 10px;
    min-height: 70vh;
  }

  .buttons {
    flex-direction: column;
    gap: 15px;
  }

  .balance-button {
    width: 100%;
  }

  .invoice-text,
  .historic-text {
    font-size: 1.2rem;
  }

  .invoice-money-status {
    font-size: 1.5rem;
  }
}
