<div class="main">
  <div class="left-side">
    <div class="title-balance">
      <h2 class="balance-title" translate>Saldo da Conta</h2>
    </div>

    <div class="balance">
      <div class="balance-main">
        <p class="balance-money-status" *ngIf="account">
          {{ formatCurrency(account.accountValue) }}
        </p>
        <p class="balance-money-status" *ngIf="!account" translate>Carregando...</p>
      </div>
    </div>

    <div class="balance-info-user">
      <div class="info">
        <span class="text-info" translate>Nome:</span>
        <span class="text-info-i">{{
          account?.user?.name || ('Não disponível' | translate)
          }}</span>
      </div>
      <div class="info">
        <span class="text-info" translate>CPF:</span>
        <span class="text-info-i">{{
          account?.user?.cpf || ('Não disponível' | translate)
          }}</span>
      </div>
      <div class="info">
        <span class="text-info" translate>Nascimento:</span>
        <span class="text-info-i">
          {{
          account?.user?.birthdate
          ? (account?.user?.birthdate | date : "dd/MM/yyyy")
          : ('Não disponível' | translate)
          }}
        </span>
      </div>
    </div>

    <div class="buttons">
      <button class="balance-button" (click)="openDialog()" translate>Simular dinheiro</button>
      <button class="balance-button" (click)="openPurchaseDialog()" translate>Comprar</button>
    </div>
  </div>

  <div class=" right-side">
    <div class="top-side">
      <div class="info-limit">
        <div class="title-balance">
          <h2 class="balance-title" translate>Limites da Conta</h2>
        </div>
        <div class="info-l">
          <span class="text-info-l" translate>Limite Utilizado:</span>
          <span class="limit-status-u">
            {{ formatCurrency(account?.usedLimit ?? 0) }}
          </span>
        </div>
        <div class="info-l">
          <span class="text-info-l" translate>Limite Disponível:</span>
          <span class="limit-status-d">
            {{ formatCurrency((account?.creditLimit ?? 0) - (account?.usedLimit ?? 0)) }}
          </span>
        </div>
      </div>
    </div>
    <div class="bottom-side">
      <div class="historic-div">
        <div class="title-historic">
          <h2 class="historic-title" translate>Histórico de Faturas</h2>
        </div>
        <div class="historic">
          <ul class="historic-list">
            <li class="text-info-h" *ngFor="let invoice of invoices">
              {{ invoice.dueDate }} =
              <span class="value-h">{{ formatCurrency(invoice.amount) }}</span>
            </li>
          </ul>
          <p *ngIf="invoices.length === 0" translate>Sem faturas disponíveis</p>
        </div>
      </div>
    </div>
  </div>
</div>