<div class="main">
    <div class="left-side">
        <div class="title-balance">
            <p class="balance-text">SALDO DA CONTA:</p>
        </div>
        <div class="balance">
            <div class="balance-main">
                <p class="balance-money-status">R$ 10,50</p>
                <p class="maturity">Vencimento dia 10</p>
            </div>
        </div>
        <div class="balance-info-user">
            <div class="info">
                <p class="text-info">Nome:</p>
                <p class="text-info-i">Dods</p>
            </div>
            <div class="info">
                <p class="text-info">CPF:</p>
                <p class="text-info-i">01234567899</p>
            </div>
            <div class="info">
                <p class="text-info">Nascimento:</p>
                <p class="text-info-i">05/12/2001</p>
            </div>
        </div>
        <div class="buttons">
            <button class="balance-buttom">Guardar Dinheiro</button>
            <button class="balance-buttom">Investir</button>
        </div>
    </div>
    <div class="right-side">
        <div class="top-side">
            <div class="info-limit">
                <div class="info-l">
                    <p class="text-info-l">Limite Utilizado:</p>
                    <p class="limit-status-u">R$ 5010,50</p>
                </div>
                <div class="info-l">
                    <p class="text-info-l">Limite Disponível:</p>
                    <p class="limit-status-d">R$ 20010,50</p>
                </div>
                <div class="info-l">
                    <p class="text-info-l">Última Fatura:</p>
                    <p class="limit-status-f">R$ 8710,50</p>
                </div>
            </div>
        </div>
        <div class="bottom-side">
            <div class="historic-div">
                <div class="title-historic">
                    <p class="historic-text">Histórico de Faturas:</p>
                </div>
                <div class="historic">
                    <ul class="historic-list">
                        <li class="text-info-h">Fevereiro = <span class="value-h">R$ 9000,50</span></li>
                        <li class="text-info-h">Janeiro = <span class="value-h">R$ 1010,60</span></li>
                        <li class="text-info-h">Dezembro = <span class="value-h">R$ 4060,40</span></li>
                        <li class="text-info-h">Novembro = <span class="value-h">R$ 5000,90</span></li>
                      </ul>
                </div>
            </div>
        </div>
    </div>
</div>

