<div class="main-pop-up">
  <div class="title-div">
    <p class="title">Novo Cartão</p>
  </div>
  <form action="">
    <div class="card-form">
      <div class="input-wrapper">
        <label class="first-label" for="card-name">Nome do cartão:</label>
        <input type="text" placeholder="Nome do cartão" id="card-name">
        <label for="card-value">Limite da compra:</label>
        <input type="text" placeholder="R$ 120.00" id="card-value">
        <label for="purchase-type">Compra única:</label>
        <div class="buttons">
          <input type="radio" id="button-sim" name="purchase" class="btn-choice" checked>
          <label for="button-sim" class="buttons-card">SIM</label>
          <div class="bar"></div>
          <input type="radio" id="button-nao" name="purchase" class="btn-choice">
          <label for="button-nao" class="buttons-card">NÃO</label>
        </div>
      </div>
      <div class="close">
        <button type="button" class="buttons-card2">fechar</button>
        <button type="submit" class="buttons-card2">criar</button>
      </div>
    </div>
  </form>
</div>
