<div class="main-pop-up">
  <div class="title-div">
    <p class="title">Novo Cartão</p>
  </div>
  <form action="">
    <div class="card-form">
      <div class="input-wrapper">
        <label for="card-name">Nome do cartão:</label>
        <input type="text" placeholder="Nome do cartão">
        <label for="card-value">Nome do cartão:</label>
        <input type="text" placeholder="R$ 120.00">
        <label for="card-value">Compra única:</label>
        <div class="buttons">
          <button class="buttons-card">SIM</button>
          <button class="buttons-card">NÃO</button>
        </div>
      </div>
    </div>
  </form>
</div>
