.main-div {
  background-color: #ffffff;
  border-radius: 8px;
  width: 70vw;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

/* Responsividade */
@media (max-width: 1024px) {
  .main-div {
    width: 80vw;
    height: auto;
  }
}

@media (max-width: 768px) {
  .main-div {
    width: 90vw;
    height: auto;
  }
}

@media (max-width: 490px) {
  .main-div {
    width: 95vw;
    height: auto;
  }
}

@media (max-width: 400px) {
  .main-div {
    width: 100vw;
    height: auto;
    padding: 0;
    border-radius: 0;
  }
}
